$labelColorNumbers: #7c878a !default;
$bgRunnableTrackRangeComponent: #e9ebeb !default;
$bgSliderThumbRangeComponent: #0d8fb6 !default;
$bgSliderThumbDisabledRangeComponent: #adb5b7 !default;

.c-module-range-slider {
  position: relative;
  width: 100%;
  height: 35px;
  text-align: center;

    &__wrapper {
      display: flex;
      flex-direction: column;

      &-title {
        margin: 0 0 1rem;
        text-align: left;
        font-size: 1.2rem;
      }

      &-slide {
        display: flex;
        justify-content: space-between;

        &-min, &-max {
          color: $labelColorNumbers;
          text-align: center;
          width: 5%;
        }

        input[type=range] {
          -webkit-appearance: none;
          background: transparent;
          position: absolute;
          overflow: hidden;
          outline: none;
          margin-top: -5px;
          left: 5%;
          width: 88%;
          height: 30px;

          &:not(.with-label) {
            width: 100%;
            left: 0;
            display: inline-block;
          }

          &::-webkit-slider-thumb {
            position: relative;
            height: 30px;
            width: 30px;
            margin-top: -10px;
            background: $bgSliderThumbRangeComponent;
            border-radius: 100%;
            z-index: 1;
            &:active {
              background: darken($bgSliderThumbRangeComponent, 10%);
              cursor: col-resize;
            }
          }

          &::-webkit-slider-runnable-track,
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
          }

          &::-webkit-slider-runnable-track {
            border-radius: 25px;
            height: 10px;
            width: 200px;
            background: $bgRunnableTrackRangeComponent;
          }

          &.disabled {
            &::-webkit-slider-thumb {
              background: $bgSliderThumbDisabledRangeComponent;
            }
          }

          &:focus {
            outline: none;
          }
      }
    }
  }
}
