<form [ngClass]="['c-module-range-slider']" [formGroup]="rangeSliderForm">

  <div [ngClass]="['c-module-range-slider__wrapper']">
    <h2 [ngClass]="['c-module-range-slider__wrapper-title']">
        {{ config.label ? config.label : 'Label'  }}
    </h2>

    <div [ngClass]="['c-module-range-slider__wrapper-slide']">
      <div
        [ngClass]="['c-module-range-slider__wrapper-slide-min']"
        [innerHTML]="minRangeControl.value"
        *ngIf="config.showValues">
      </div>

      <input
        [min]="config.minValue"
        [max]="config.maxValue"
        [step]="config.step || 1"
        [formControlName]="NAME_INP_MIN_RANGE"
        [ngClass]="{
            'with-label': config.showValues,
            'disabled': config.disabled
        }"
        type="range">

      <input
        [min]="config.minValue"
        [max]="config.maxValue"
        [step]="config.step || 1"
        [formControlName]="NAME_INP_MAX_RANGE"
        [ngClass]="{
          'with-label': config.showValues,
          'disabled': config.disabled
        }"
        type="range">

      <div
        [ngClass]="['c-module-range-slider__wrapper-slide-max']"
        [innerHTML]="maxRangeControl.value"
        *ngIf="config.showValues">
      </div>
    </div>
  </div>
</form>
