<form [ngClass]="['c-module-range-slider']" [formGroup]="rangeSliderForm">

  <div [ngClass]="['c-module-range-slider__wrapper']">
    <h2 [ngClass]="['c-module-range-slider__wrapper-title']">
        {{ config.label ? config.label : 'Label'  }}
    </h2>

    <div [ngClass]="['c-module-range-slider__wrapper-slide']">
      <span
        [ngClass]="['c-module-range-slider__wrapper-slide-min']"
        [innerHTML]="minRangeControl.value">
      </span>
      <input
        [min]="config.minValue"
        [max]="config.maxValue"
        [step]="config.step || 1"
        [formControlName]="NAME_INP_MIN_RANGE"
        type="range">

      <input
        [min]="config.minValue"
        [max]="config.maxValue"
        [step]="config.step || 1"
        [formControlName]="NAME_INP_MAX_RANGE"
        type="range">
      <span
        [ngClass]="['c-module-range-slider__wrapper-slide-max']"
        [innerHTML]="maxRangeControl.value">
      </span>
    </div>
  </div>

</form>
