<section class="container">
    <section class="simple-example-container">
        <app-angular-slider [minimum]="0" [maximum]="100" [init]="0" [end]="100" [step]="1" [disabled]="false" label="Range (default): "></app-angular-slider>
        <app-angular-slider [minimum]="0" [maximum]="100" [init]="10" [end]="90" [step]="1" [disabled]="true" label="Range (disabled): "></app-angular-slider>
        <app-angular-slider [minimum]="0" [maximum]="100" [init]="10" [end]="90" [step]="1" [disabled]="false" [showValues]="true" label="Range (show values): "></app-angular-slider>
    </section>
    <section class="complex-example-container">
        <app-angular-slider-complex></app-angular-slider-complex>
    </section>
</section>