<h1>EXEMPLO 2</h1>
<section class="grid">
  <section class="box">
    <thf-range 
      (t-change)="recebeMenorMaior($event)" 
      [t-moeda]="true"
      t-label="Casas para Alugar"
      [t-min]="1000" 
      [t-max]="3000" 
      [t-inicio]="menorValor" 
      [t-fim]="maiorValor" 
      t-step="100" 
      [t-com-indicadores]="true" 
      [t-disabled]="false"></thf-range>
  </section>
  <section class="box">
    <section class="grid3">
      <div class="box1" *ngFor="let casa of casasFiltradas">
        <div>{{casa.endereco}}</div>
        <div>{{casa.valor | currency:'R$'}}</div>
        <div>{{casa.tipo}}</div>
      </div>
    </section>
  </section>
</section>