.container-hotel-card {
    padding: 10px;
    margin: 5px 0;
    background-color: #eee;
    border-radius: 5px;
}

p {
    font-size: 0.8em;
}

.simple-example-container{
    padding-top: 30px;
}

.complex-example-container {
    padding-top: 30px;
}