input[type="range"] {
    -webkit-appearance: none;
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 100%;
    float: left;
    position: relative;
	height: 8px;
	border-radius: 5px;
    background: #eceeee;
    outline: none;
}

label{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
	font-size: 13px;
	color: #4a5c60;
}

/*estilo cursor chrome */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #0b9abe;
	cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    position: relative;
	z-index: 2;
}

/* estilo cursor FF */
input[type="range"]::-moz-range-thumb {
	transform: scale(1);
	z-index: 1;
	appearance: none;
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #0b9abe;
	cursor: pointer;
}

/* estilo auxiliar */
input[type="range"].auxiliar {
	margin-top: -8px;
	position: relative;
	background: var(--track-background); 
	--track-background: linear-gradient(to right, #eceeee var(--low),
		var(--range-color) 0, var(--range-color) var(--high), #eceeee 0)
		no-repeat 0 50%/100% 27%; 
    --range-color: #0b9abe;
	border: none;
}

/* estilo auxiliar chrome */
input[type="range"].auxiliar::-webkit-slider-runnable-track {
	background: var(--track-background);
}

/* estilo auxiliar FF */
input[type="range"].auxiliar::-moz-range-track {
	background: var(--track-background);
	height: 18px;
}

/* estilo cursor pressed Chrome*/
input[type="range"]:focus::-webkit-slider-thumb{
	transform: scale(1.2);
}

/* estilo cursor pressed FF */
input[type="range"]:focus::-moz-range-thumb{
	transform: scale(1.2);
}

/* estilo cursor disabled chrome*/
input[type="range"].disabled::-webkit-slider-thumb {
	background: #b6bdbf;
	cursor: not-allowed;
}

/* estilo cursor disabled ff */
input[type="range"].disabled::-moz-range-thumb {
	background: #b6bdbf;
	cursor: not-allowed;
}

/* estilo do auxiliar disabled */
input[type="range"].auxiliar.disabled {
	background: var(--track-background); 
	--track-background: linear-gradient(to right, #eceeee var(--low),
		var(--range-color) 0, var(--range-color) var(--high), #eceeee 0)
		no-repeat 0 49.5%/100% 27%; 
    --range-color: #b6bdbf;
}

/* responsivo sem indicadores */
.semindicadores{
	display: grid; 
    grid-template-columns: 1fr; 
    text-align: center;
}

/* responsivo com indicadores */
.comindicadores{
    display: grid; 
    grid-template-columns: 1fr 5fr 1fr; 
    text-align: center;
}

/* estilo dos indicadores */
.indicadores{
	font-size: 13px;
	margin-top: -4px;
}