input[type="range"] {
    -webkit-appearance: none;
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 100%;
    float: left;
    position: relative;
	height: 8px;
	border-radius: 5px;
    background: #eceeee;
    outline: none;
}

/*estilo cursor chrome */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #0b9abe;
	cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    position: relative;
	z-index: 2;
}

/* estilo cursor FF */
input[type="range"]::-moz-range-thumb {
	transform: scale(1);
	z-index: 1;
	appearance: none;
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #0b9abe;
	cursor: pointer;
}

/* estilo auxiliar */
input[type="range"].auxiliar {
	margin-top: -8px;
	position: relative;
	background: var(--track-background); 
	--track-background: linear-gradient(to right, #eceeee var(--low),
		var(--range-color) 0, var(--range-color) var(--high), #eceeee 0)
		no-repeat 0 50%/100% 27%; 
    --range-color: #0b9abe;
	border: none;
}

/* estilo auxiliar chrome */
input[type="range"].auxiliar::-webkit-slider-runnable-track {
	background: var(--track-background);
}

/* estilo auxiliar FF */
input[type="range"].auxiliar::-moz-range-track {
	background: var(--track-background);
	height: 18px;
}

/* estilo cursor pressed Chrome*/
input[type="range"]:focus::-webkit-slider-thumb{
	transform: scale(1.2);
}

/* estilo cursor pressed FF */
input[type="range"]:focus::-moz-range-thumb{
	transform: scale(1.2);
}
