$labelColor: #59686c!default;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  &__row {
    min-width: 50%;
  }
  &__column {
    position: relative;
    flex: 1;
    width: 40vw;
    padding: 2rem 3rem;
    &-title {
      color: $labelColor;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }
}
