<div [ngClass]="['wrapper']">

  <div [ngClass]="['wrapper__row']">
    <div [ngClass]="['wrapper__column']">
      <label [ngClass]="['wrapper__column-title']">Simples</label>
      <app-range [config]="rangeConfig1"></app-range>
    </div>
    <div [ngClass]="['wrapper__column']">
      <label [ngClass]="['wrapper__column-title']">Disabled</label>
      <app-range [config]="rangeConfig2"></app-range>
    </div>
  </div>

  <div [ngClass]="['wrapper__row']">
    <div [ngClass]="['wrapper__column']">
      <label [ngClass]="['wrapper__column-title']">Com Indicadores</label>
      <app-range [config]="rangeConfig3"></app-range>
    </div>
  </div>
