:host {
    display: block;
    overflow: hidden;
  }
  
  mat-card-title {
    font-size: 20px;
    margin-bottom: 0;
  }
  
  mat-table {
    border-top: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8;
    margin-right: -12px;
  }
  
  mat-row {
    border-bottom: 0;
  }
  
  mat-table .name{
    flex: 2 0;
  }
  
  .control-buttons {
    height: 70px;
  }
  
  .control-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .control-buttons .apply {
    color: #EA3F69;
  }
  
  .header {
    height: 70px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .close {
    cursor: pointer;
    color: #707070;
  }
  
  .range-control input {
    text-align: center;
  }
  
  .range {
    flex: 2 0;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 0 9px;
  }
  
  .range /deep/ .ng5-slider {
    margin: 0;
  }
  
  .range /deep/ .ng5-slider-pointer {
    width: 12px;
    height: 12px;
    top: -5px;
    background-color: #ea3455;
    outline: none;
  }
  
  .range /deep/ .ng5-slider-pointer::after {
    position: absolute;
    top: -9px;
    left: -9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),opacity .4s cubic-bezier(.25,.8,.25,1);
  }
  
  .range /deep/ .ng5-slider-pointer.ng5-slider-active::after {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(255,64,129,.2);
  }
  
  .range /deep/ .ng5-slider-bar-wrapper {
    height: auto;
    padding: 0;
    margin: 0;
  }
  
  .range /deep/ .ng5-slider-selection {
    background-color: #ea3455;
  }
  .range /deep/ .ng5-slider-bar {
    height: 2px;
  }
  .range .ng5-slider[disabled] /deep/ .ng5-slider-pointer{
    background-color: #C4C4C4;
  }
  
  .range  .ng5-slider[disabled] /deep/ .ng5-slider-selection{
    background-color: #C4C4C4;
  }
  
  .range .ng5-slider[disabled] /deep/ .ng5-slider-bar{
    background-color: #C4C4C4;
  }
  
  mat-cell mat-form-field {
    width: 100%;
  }
  
  mat-cell /deep/ .mat-form-field-underline {
    background-color: #c4c4c4;
  }
  
  mat-cell /deep/ .mat-input-ripple {
    background-color: #ea3455;
  }
  
  mat-cell /deep/ .mat-form-field-disabled .mat-form-field-underline{
    background: none;
  }
  
  mat-cell {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  